<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file"
                     fileName="${filename}/logger.log"
                     filePattern="${filename}/logger-%d{HH-mm-ss-SSS}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1 KB" />
        </RollingFile>
        <Console name="ABC" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="service" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="ABC"/>
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
        <Root level="error">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
        <Root level="warn">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
        <Root level="debug">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
        <Root level="trace">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>