<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="org.laba.dao.IMetroRouteDAO">

    <sql id="body">
        mr.id as metro_route_id,
        mr.route_name as route_name
    </sql>

    <select id="getEntityById" resultMap="metroRouteResultMap">
        SELECT
        <include refid="body"/>
        FROM
        metro_routes mr
        WHERE id = #{id}
    </select>

    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metro_routes (route_name)
        VALUES (#{route_name})
    </insert>

    <update id="updateEntity">
        UPDATE metro_routes SET
        route_name = #{route_name}
        WHERE id = #{id}
    </update>

    <delete id="removeEntity">
        DELETE FROM metro_routes WHERE id = #{id}
    </delete>

    <resultMap id="metroRouteResultMap" type="org.laba.models.MetroRoute" autoMapping="false">
        <id column="metro_route_id" property="id"/>
        <result column="route_name" property="routeName"/>
    </resultMap>
</mapper>
