<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="org.laba.dao.interfaces.ITransitPointDAO">

    <select id="getEntityById" resultMap="transitPointResultMap">
        SELECT
        id as transit_point_id
        FROM
        transit_points a
        WHERE id = #{id}
    </select>

    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transit_points
        VALUES ()
    </insert>

    <delete id="removeEntity">
        DELETE FROM transit_points WHERE id = #{id}
    </delete>

    <resultMap id="transitPointsResultMap" type="org.laba.model.TransitPoint" autoMapping="false">
        <id column="transit_point_id" property="id"/>
    </resultMap>
</mapper>
